{% extends 'base.html.twig' %}

{% block title %}{{ 'products.meta.title'|trans }}{% endblock %}
{% block meta_description %}{{ 'products.meta.description'|trans }}{% endblock %}
{% block og_title %}{{ 'products.meta.og_title'|trans }}{% endblock %}
{% block og_description %}{{ 'products.meta.og_description'|trans }}{% endblock %}

{% block header %}
    {% include 'partials/_navbar.html.twig' %}
    {% include 'partials/_hero.html.twig' with {
        hero_overlay: 'hero-industrial-overlay',
        hero_title: 'products.hero.title'|trans,
        hero_description: 'products.hero.description'|trans,
        hero_cta: [{text: 'products.hero.btn_catalog'|trans, href: '#materials'}],
    } %}
    {% include 'products/_catalog_nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20 space-y-24" id="materials">
        {% include 'products/_flint.html.twig' %}
        {% include 'products/_sand.html.twig' %}
        {% include 'products/_limestone.html.twig' %}
        {% include 'products/_basalt.html.twig' %}
        {% include 'products/_equipment.html.twig' %}
        {% include 'products/_consulting.html.twig' %}
    </div>
    {% include 'partials/_cta_section.html.twig' with {
        cta_style: 'light',
        cta_title: 'products.cta.title'|trans,
        cta_description: 'products.cta.description'|trans,
        cta_buttons: [
            {text: 'products.cta.btn_quote'|trans, href: path('app_quote'), style: 'primary'},
            {text: 'products.cta.btn_contact'|trans, href: path('app_contact'), style: 'outline'},
        ],
    } %}
{% endblock %}
